<div id="page_metadata">
  <h3>Page Title: <%= @page.title %></h3>
  <p><%= link_to "Edit Page", edit_admin_page_path(@page) %><p>
  <h4>Page Content:</h4>
</div>
<div id="page_preview">
	<%= markdown(@page.content) %>
</div>
