<h2>This is the admin section of the Clemson Dancers Site</h2>
<p>Here you can create and edit the pages that make up the site.</p>
<p>It's also where you manage the galleries showcasing Clemson Dancers.</p>