
html {
	background: #744877;
}

body{
  font-family: sans-serif;
}

a{
  color: #342A49;
}

header, header a{
  color: white;
}

header h1 a{
  text-decoration: none;
}

header ul{
  padding: 0px;
}

header li{
  display: inline-block;
}

header ul li:before{
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
}

header ul li:first-child:before{
  content: none;
}

#content{
  background: white;
  color: black;
  padding: 5px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

#home_page_flag{
  color: #7D8B57;
  font-weight: bold;
  font-style: italic;
}

td{
  padding-right: 5px;
  padding-bottom: 3px;
}

#metadata{
  border-bottom: 2px dotted black;
  background: #E4E4E4;
  padding: 3px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

label{
  margin-top: 14px;
}

#page_content{
  border: 1px solid black;
}

.hidden{
  display:none;
}

input{
  margin-bottom: 5px;
}

.field_with_errors{
  display:inline-block;
  color: red;
}

#gallery_form #gallery_details label{
  display:inline-block;
  width: 150px;
  text-align: right;
}

#gallery_form .image_fields{
  margin-bottom: 5px;
}