/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

html{
  background: linear-gradient(white,purple);
}

html,body{
  min-height: 100%;
}

body {
  margin:0;
}

header {
  background-image:url("http://i.imgur.com/kpkd3ln.jpg");
  background-repeat:no-repeat;
  background-position: center top;
  height: 400px;
  position: relative;
}

header h1{
  vertical-align: bottom;
  margin-bottom: 0px;
}

#banner {
	font-size: 4em;
	text-align: left;
	color: white;
}

#sidebar{
  background: white;
}
 
#content{
  background: white;
}

#content h1 {
  color:black;
}

#banner h1 {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 0px;
	margin-bottom: 30px;
	text-align: left;
	font-weight: normal;
	color: #FFF;
  display: inline;
  position:absolute;
  bottom:0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

nav ul{
  padding: 0;
  margin:0;
}
 
nav ul li {
  text-align: center;
  color: white;
  display: inline-block;
  background: purple;
  width: 22%;
  padding: 0;
  margin: 0;
}

#sidebar{
  float: right;
  height: 100%;
  padding: 10px;
  padding-right: 50px;
  margin-bottom: 30px;
}
 
#content{
  height: 100%;
  padding: 15px;
}

#contact ul{
  list-style: none;
}

#contact h4{
  padding-left: 5px;
}